{% extends "base.html" %}

{% block content %}
<div>
</div>
<div class="box" style="background: linear-gradient(#eea8a8, #b2b7ec);">
  <article class="media">
    <div class="media-content">
      <div class="my-5 col-lg-4">
        <img src="project/templates/img/perfil.png" alt="Perfil">
    </div>
      <div class="content">
        <p>
          <h1><center><strong>Acerca de nosotros</strong></center></h1>
          <br>
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box" style="background: linear-gradient(#eea8a8, #b2b7ec);">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <br>
          Nuestra empresa es una distribuidora de anime con sede en Latinoamérica, dedicada a proporcionar la mejor calidad de anime y productos relacionados a los fanáticos de todo el continente. Ofrecemos una amplia variedad de series de anime, tanto clásicas como nuevas, así como una selección de productos de merchandising relacionados, como figuras, camisetas, pósters y más. Nos esforzamos por ser una empresa líder en el mercado de distribución de anime en Latinoamérica, brindando un servicio de calidad y productos auténticos y de alta calidad.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box" style="background: linear-gradient(#eea8a8, #b2b7ec);">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Visión</strong>
          <br>
          Nuestra visión es ser la empresa líder en la distribución de anime en Latinoamérica, proporcionando a nuestros clientes una amplia variedad de series de anime y productos relacionados, junto con un servicio al cliente excepcional. Nos esforzamos por establecer relaciones duraderas con nuestros clientes y ser una fuente confiable y de confianza para los fanáticos de anime en todo el continente.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="box" style="background: linear-gradient(#eea8a8, #b2b7ec);">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong>Misión</strong>
          <br>
          Nuestra misión es satisfacer las necesidades de los fanáticos de anime en Latinoamérica, proporcionando una amplia variedad de series de anime de alta calidad y productos relacionados a precios competitivos. Nos comprometemos a brindar un servicio de calidad y una experiencia de compra excepcional para nuestros clientes, asegurando que se sientan valorados y atendidos en todo momento. Además, nos esforzamos por mantener relaciones justas y respetuosas con nuestros proveedores y colaboradores, y por contribuir positivamente a la industria del anime en Latinoamérica.
        </p>
      </div>
    </div>
  </article>
</div>

<h1 class="title">
  Pagina para comprar productos de anime
</h1>
<h2 class="subtitle">
  Autenticación y Autorización fácil.
</h2>

{% endblock %}
